<template>
    <div class="top-panel">
        <div class="back-link">
            <img v-if="!theme" :src="'../img/icons/dots-icon.svg'" alt="">
            <img v-else :src="'../img/icons/white-dots-icon.svg'" alt="">
            <span>назад на главную</span>
        </div>
        <div class="info-box" :class="{dark: theme}">
            <router-link to="notification" class="notification" :class="{haveMessage: haveMessage}">
                <img :src="'../img/icons/notification-icon.svg'" alt="">
                <transition name="bounce">
                    <span v-if="haveMessage">6</span>
                </transition>
            </router-link>
            <div class="theme">
                <input v-model="darkTheme" @change="changeTheme" type="checkbox">
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from "vuex"

    export default {
        name: "TopPanel",
        data() {
            return {
                haveMessage: true,
                darkTheme: false
            }
        },
        computed: {
            ...mapState(['theme'])
        },
        methods: {
            changeTheme() {
                this.$store.commit('SET_THEME', this.darkTheme)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .top-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
    }

    .back-link {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }

        span {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 19px;
            font-weight: 700;
        }
    }

    .info-box {
        display: flex;
        align-items: center;
    }

    .notification {
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 11px 15px;
        border: 2px solid #EDEBFC;
        border-radius: 16px;
        transition: all 1s ease;
        margin-right: 10px;

        &:after {
            content: '';
            transition: all 0.3s ease;
        }

        span {
            display: inline-block;
            width: max-content;
            min-width: 24px;
            min-height: 24px;
            border-radius: 8px;
            position: relative;
            margin-left: 10px;
            background-color: rgba(113, 65, 242, 0.15);
            color: #006BFF;
            font-size: 15px;
            line-height: 24px;
            padding: 0 7px;
            z-index: 1;
            transition: all 0.3s ease;

            &:before {
                content: '';
                position: absolute;
                left: -10px;
                bottom: 7px;
                border: 5px solid transparent;
                border-right: 5px solid rgba(113, 65, 242, 0.15);
            }
        }
    }

    .notification.haveMessage {
        &:after {
            width: 11px;
            height: 11px;
            position: absolute;
            top: 9px;
            left: 21px;
            background-color: #4BA559;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            transition: all 1s ease;
        }
    }

    .bounce-enter-active {
        animation: bounce-in .5s;
    }

    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }

    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    input[type="checkbox"] {
        position: relative;
        width: 80px;
        height: 50px;
        -webkit-appearance: none;
        background: transparent;
        outline: none;
        border-radius: 16px;
        border: 2px solid #EDEBFC;
        transition: 0.7s;
        padding: 5px;
        cursor: pointer;
    }

    input[type="checkbox"]:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        top: 3px;
        left: 32px;
        background-color: #201E38;
        border-radius: 13px;
        transition: .5s;
        background-image: url("/../../img/icons/theme-dark-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    input:checked[type="checkbox"]:before {
        left: 4px;
        background-color: #fff;
        background-image: url("/../../img/icons/theme-white-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .info-box.dark {
        .notification, input {
            border-color: #3D3955;
        }

        .notification.haveMessage {
            &:after {
                border-color: #2B2A40;
            }
        }
    }
    .theme {
        height: 50px;
    }

    @media screen and (max-width: 1440px) {
        .top-panel {
            margin-bottom: 47px;
        }
        .notification {
            height: 40px;
            border-radius: 13px;
            padding: 5px;

            span {
                margin-left: 7px;
            }
        }
        .notification.haveMessage {
            &:after {
                top: 5px;
                left: 12px;
            }
        }
        input[type="checkbox"] {
            width: 60px;
            height: 40px;
            border-radius: 13px;

            &:before {
                width: 30px;
                height: 30px;
                left: 23px;
                background-size: 15px;
                border-radius: 10px;
            }
        }
        .theme {
            height: 40px;
        }
    }

    @media screen and (max-width: 1024px) {
        .top-panel {
            margin-bottom: 25px;
        }
        .back-link {
            span {
                font-size: 12px;
                line-height: 16px;
            }
        }
        .notification {
            margin-right: 2px;
        }
    }

    @media screen and (max-width: 767px) {
        .top-panel {
            display: none;
        }
    }
</style>
