<template>
    <label :class="{dark: theme}">
        <span class="form-label">{{placeholder}}</span>
        <input @input="$emit('update:modelValue', $event.target.value)" type="text">
        <span class="input-btn">Добавить</span>
    </label>
</template>

<script>
    import {mapState} from "vuex"
    export default {
        name: "FormInput",
        props: {
            placeholder: String,
            modelValue: {type: String, default: null}
        },
        computed: {
            ...mapState(['theme'])
        }
    }
</script>

<style lang="scss" scoped>
    label {
        width: calc(50% - 5px);
        display: flex;
        align-items: center;
        border: 2px solid #EDEBFC;
        border-radius: 16px;
        padding: 17px 30px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: all 1s ease;
    }
    label.dark {
        border-color: #3D3955;
        input {
            color: #fff;
        }
    }
    .form-label {
        display: inline-block;
        min-width: max-content;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-right: 10px;
    }
    input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        transition: all 1s ease;
    }
    .input-btn {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #7141F2;
        margin-left: 10px;
    }
    @media screen and (max-width: 1440px) {
        label {
            padding: 12px 27px;
        }
        .form-label {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 1024px) {
        label {
            width: 100%;
        }
        .form-label {
            font-size: 14px;
            line-height: 20px;
        }
        input {
            font-size: 18px;
            line-height: 30px;
        }
    }
    @media screen and (max-width: 767px) {
        label {
            padding: 7px 13px;
            margin-bottom: 8px;
        }
        .form-label {
            font-size: 12px;
        }
        .input-btn {
            font-size: 9px;
            line-height: 12px;
        }
    }
</style>
