<template>
    <button class="btn" :class="{disabled: disabled}">
        <slot />
    </button>
</template>

<script>
    export default {
        name: "SubmitButton",
        props: {
            disabled: {type: Boolean}
        }
    }
</script>

<style lang="scss" scoped>
    .btn {
        display: inline-block;
        min-width: 260px;
        padding: 23px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 16px;
        background: linear-gradient(95.82deg, #7141F2 21.29%, #4269FF 86.21%);
        outline: none;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
        &:hover {
            background: linear-gradient(95.82deg, #7141F2 100%, #7141F2 100%);
        }
    }
    .btn.disabled {
        opacity: 0.7;
        pointer-events: none;
        cursor: default;
    }
    @media screen and (max-width: 1440px) {
        .btn {
            min-width: 230px;
            padding: 20px;
            line-height: 20px;
        }
    }
    @media screen and (max-width: 1024px) {
        .btn {
            min-width: 210px;
            padding: 17px;
        }
    }
    @media screen and (max-width: 767px) {
        .btn {
            min-width: 190px;
            padding: 15px;
            font-size: 12px;
        }
    }
</style>
