<template>
    <label class="switcher">
        <transition name="fade">
            <span v-if="checkBoxValue">Скрыть</span>
        </transition>
        <input v-model="checkBoxValue" @change="checkBoxChange" type="checkbox">
    </label>
</template>

<script>
    export default {
        name: "Switcher",
        props: {
            modelValue: {
                type: Boolean,
                default: null
            }
        },
        data() {
            return {
                checkBoxValue: false
            }
        },
        methods: {
            checkBoxChange() {
                this.$emit('update:modelValue', this.checkBoxValue)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .switcher {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0;
    }

    span {
        color: #7141F2;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        margin-right: 20px;
    }

    input[type="checkbox"] {
        position: relative;
        width: 70px;
        height: 40px;
        -webkit-appearance: none;
        background: transparent;
        outline: none;
        border-radius: 16px;
        border: 2px solid #EDEBFC;
        transition: 0.7s;
        padding: 5px;
        cursor: pointer;
    }

    input[type="checkbox"]:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: 3px;
        left: 32px;
        background-color: #EDEBFC;
        border-radius: 11px;
        transition: .5s;
    }

    input:checked[type="checkbox"]:before {
        left: 4px;
        background-color: #576CEB;
    }
</style>
