<template>
    <div class="app-content" :class="{darkTheme: theme}">
        <div class="preloader" v-if="showPreloader"></div>
        <router-view/>
    </div>
</template>

<script>
    import Home from "./pages/Home";
    import {mapState} from "vuex"

    export default {
        name: "App",
        components: {Home},
        computed: {
            ...mapState(['theme'])
        },
        data() {
            return {
                showPreloader: true
            }
        },
        mounted() {
            setTimeout(() => {
                this.showPreloader = false
            }, 2000)
        }
    }
</script>

<style lang="scss">
    //color var
    $black: #201E38;
    $white: #fff;
    $lightGrey: #EDEBFC;
    $grey: #9D9AB6;
    $violet: #7141F2;
    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: $black;
        overflow: hidden;
    }

    .app-content {
        min-height: 100vh;
        background-color: #E0E8FF;
        padding: 20px;
        transition: background-color 1s ease;
    }

    .preloader {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        animation: opacity-animation 1.5s linear;
    }
    @keyframes opacity-animation {
        0% {
            background-color: rgba(255,255,255, 1);
        }
        50% {
            background-color: rgba(255,255,255, 0.5);
        }
        100% {
            background-color: rgba(255,255,255, 0);
        }
    }
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .title {
        color: $white;
    }

    .opacity-text {
        color: rgba(255, 255, 255, 0.8);
    }

    .form-title {
        font-size: 24px;
        line-height: 30px;
        color: $black;
        transition: background-color 1s ease;
        margin-bottom: 20px;
    }

    .form-label {
        color: $grey;
    }

    input {
        color: $black;
    }

    .btn {
        color: $white;
    }

    a {
        color: #fff;
    }

    .border-block {
        min-height: max-content;
        border-radius: 40px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 60px;
        text-align: left;
        margin-bottom: 10px;
        transition: background-color 1s ease;

        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            margin: 0;
        }
    }

    .darkTheme {
        background-color: $black;
        color: #fff;

        .border-block {
            background-color: #23243B;
        }

        .form-title {
            color: $white;
        }
    }

    .fade-enter-active {
        transition: all 0.3s ease-out;
    }

    .fade-leave-active {
        transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
    }

    .fade-enter-from,
    .fade-leave-to {
        transform: translateX(50px);
        opacity: 0;
        position: absolute;
        transition: none;
    }

    .slide-fade-enter-active {
        transition: all 0.3s ease-out;
    }

    .slide-fade-leave-active {
        transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    }

    .slide-fade-enter-from,
    .slide-fade-leave-to {
        transform: translateY(20px);
        opacity: 0;
        position: absolute;
        transition: none;
    }
    .dark {
        --popper-theme-background-color: #333333;
        --popper-theme-background-color-hover: #333333;
        --popper-theme-text-color: white;
        --popper-theme-border-width: 0px;
        --popper-theme-border-radius: 6px;
        --popper-theme-padding: 32px;
        --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
    }

    .light {
        --popper-theme-background-color: #ffffff;
        --popper-theme-background-color-hover: #ffffff;
        --popper-theme-text-color: #333333;
        --popper-theme-border-width: 1px;
        --popper-theme-border-style: solid;
        --popper-theme-border-color: #eeeeee;
        --popper-theme-border-radius: 6px;
        --popper-theme-padding: 32px;
        --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
    }
    @media screen and (max-width: 1440px) {
        body {
            font-size: 14px;
        }
        .form-title {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 15px;
        }
        .border-block {
            padding: 40px 50px;
        }
    }

    @media screen and (max-width: 1024px) {
        .app-content {
            padding: 10px;
        }
        .border-block {
            padding: 10px 30px 15px;
            border-radius: 24px;
        }
        .form-title {
            font-size: 20px;
            line-height: 30px;
        }
    }

    @media screen and (max-width: 767px) {
        .form-title {
            margin-bottom: 12px;
        }
    }
</style>
