<template>
    <div class="left-panel-wrapper" :class="{darkPanel: theme}">
        <div class="left-panel">
            <img class="logo" :src="'../img/logo.svg'" alt="">
            <UserInfo/>
            <UserNav/>
            <Support/>
            <div class="logout opacity-text">
                Выйти
            </div>
        </div>
    </div>
</template>

<script>
    import UserInfo from "./UserInfo";
    import UserNav from "./UserNav";
    import Support from "./Support";
    import {mapState} from "vuex"
    export default {
        name: "LeftPanel",
        components: {Support, UserNav, UserInfo},
        computed: {
            ...mapState(['theme'])
        }
    }
</script>

<style lang="scss" scoped>
    .left-panel-wrapper {
        width: 350px;
        height: calc(100vh - 40px);
        min-height: max-content;
        position: fixed;
        top: 20px;
        left: 20px;
        border-radius: 40px;
        background-image: url("/../../img/left-panel-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 35px 0 0;
        overflow: hidden;
        transition: background-image 1s ease;
        z-index: 20;
    }
    .left-panel-wrapper.darkPanel {
        background-image: url("/../../img/dark-left-panel-bg.png");
    }
    .logo {
        display: inline-block;
        width: 132px;
        height: 30px;
        margin-bottom: 65px;
    }

    .logout {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }
    .left-panel {
        height: calc(100vh - 75px);
        min-height: max-content;
        overflow: scroll;
        padding: 0 45px 35px;
    }
    .left-panel::-webkit-scrollbar {
        width: 3px;
        height: 100%;
    }

    .left-panel::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        position: fixed;
        left: 0;
    }

    .left-panel::-webkit-scrollbar-thumb {
        background-color: #fff;
        max-height: 20px;
        border-radius: 10px;
        transition: background-color 1s ease;
    }
    .left-panel::-webkit-scrollbar-track-piece {
        background: transparent;
    }
    .darkPanel .left-panel::-webkit-scrollbar-thumb {
        background-color: #7141F2;
    }
    @media screen and (max-width: 1440px) {
        .logo {
            margin-bottom: 50px;
        }
        .left-panel-wrapper {
            width: 320px;
        }
        .left-panel {
            padding: 0 22px 20px;
        }
    }
    @media screen and (max-width: 1024px) {
        .logo {
            width: 70px;
            margin-bottom: 28px;
        }
        .left-panel-wrapper {
            width: 130px;
            height: calc(100vh - 20px);
            top: 10px;
            left: 10px;
            padding: 0;
        }
        .left-panel {
            padding: 13px 10px;
            height: calc(100vh - 20px);
        }
    }
    @media screen and (max-width: 767px) {
        .left-panel-wrapper {
            display: none;
        }
    }
</style>
