<template>
    <div class="mobil-panel-wrapper" :class="{active: panel, dark: theme}">
        <div class="mobil-panel">
            <div class="burger" @click="openPanel"></div>
            <img class="logo" :src="'../img/logo.svg'" alt="">
            <transition name="fade">
                <router-link v-if="!panel" to="notification" class="notification" :class="{haveMessage: haveMessage}">
                    <img :src="'../img/icons/white-notification-icon.svg'" alt="">
                </router-link>
                <div class="theme" v-else>
                    <input v-model="darkTheme" @change="changeTheme" type="checkbox">
                </div>
            </transition>
        </div>
        <transition name="slide-fade">
            <div class="panel-content" v-if="panel">
                <UserInfo/>
                <UserNav/>
                <Support/>
                <div class="logout opacity-text">
                    Выйти
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import UserInfo from "./UserInfo";
    import UserNav from "./UserNav";
    import Support from "./Support";
    import {mapState} from "vuex"
    export default {
        name: "MobilPanel",
        components: {Support, UserNav, UserInfo},
        data() {
            return {
                haveMessage: true,
                panel: false,
                darkTheme: false
            }
        },
        computed: {
          ...mapState(['theme'])
        },
        methods: {
            openPanel() {
                this.panel = !this.panel;
            },
            changeTheme() {
                this.$store.commit('SET_THEME', this.darkTheme)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .panel-content {
        height: calc(100vh - 100px);
        margin-top: 35px;
        overflow-y: scroll;
        padding: 0 15px;
    }

    .panel-content::-webkit-scrollbar {
        width: 3px;
        height: 100%;
    }

    .panel-content::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        position: fixed;
        left: 0;
    }

    .panel-content::-webkit-scrollbar-thumb {
        background-color: #fff;
        max-height: 20px;
        border-radius: 10px;
        transition: background-color 1s ease;
    }

    .panel-content::-webkit-scrollbar-track-piece {
        background: transparent;
    }
    .logout {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }
    .burger {
        width: 30px;
        height: 9px;
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            width: 20px;
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            border-radius: 2px;
            transition: transform .2s cubic-bezier(.2, .6, .3, 1), opacity .2s cubic-bezier(.2, .6, .3, 1), top .2s cubic-bezier(.2, .6, .3, 1), -webkit-transform .2s cubic-bezier(.2, .6, .3, 1);
        }

        &:after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #fff;
            border-radius: 2px;
            transition: transform .2s cubic-bezier(.2, .6, .3, 1), opacity .2s cubic-bezier(.2, .6, .3, 1), top .2s cubic-bezier(.2, .6, .3, 1), -webkit-transform .2s cubic-bezier(.2, .6, .3, 1);
        }
    }

    .logo {
        max-width: 79px;
        height: 18px;
    }

    .notification {
        width: 30px;
        position: relative;
        text-align: right;

        &:after {
            content: '';
            transition: all 0.3s ease;
        }
    }

    .mobil-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 15px;
    }

    .notification.haveMessage {
        &:after {
            width: 11px;
            height: 11px;
            position: absolute;
            top: -2px;
            right: -4px;
            background-color: #4BA559;
            border: 2px solid #4583FE;
            border-radius: 50%;
            transition: all 1s ease;
        }
    }

    .bounce-enter-active {
        animation: bounce-in .5s;
    }

    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    .theme {
        width: 30px;
        height: 22px;
        input[type="checkbox"] {
            width: 40px;
            height: 26px;
            position: relative;
            left: -10px;
            -webkit-appearance: none;
            background: transparent;
            outline: none;
            border-radius: 10px;
            border: 2px solid rgba(255,255,255, 0.1);
            transition: 0.7s;
            padding: 5px;
            cursor: pointer;
        }

        input[type="checkbox"]:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 1px;
            left: 14px;
            background-color: #201E38;
            border-radius: 8px;
            transition: .5s;
            background-image: url("/../../img/icons/theme-dark-icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 11px;
        }

        input:checked[type="checkbox"]:before {
            left: 2px;
            background-color: #fff;
            background-image: url("/../../img/icons/theme-white-icon.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    .mobil-panel-wrapper.active {
        height: calc(100vh - 20px);

        .burger {
            width: 30px;
            height: 14px;

            &:before {
                width: 17px;
                top: 7px;
                transform: rotate(-45deg);
            }

            &:after {
                width: 17px;
                bottom: 5px;
                transform: rotate(45deg);
            }
        }
    }

    @media screen and (min-width: 767px) {
        .mobil-panel {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {
        .mobil-panel-wrapper {
            min-height: 50px;
            position: fixed;
            top: 10px;
            right: 10px;
            left: 10px;
            background-image: url("/../../img/mobil-panel-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 22px;
            z-index: 100;
            overflow: hidden;
            transition: all 1s ease;
        }
        .mobil-panel-wrapper.dark {
            background-image: url("/../../img/dark-left-panel-bg.png");
        }
    }
</style>
