<template>
    <div class="support">
        <img :src="'../img/support-img.jpg'" alt="">
        <span class="title">Юрий Задорожный</span>
        <span class="opacity-text ">Поддержка</span>
        <div class="btn">
            Написать
        </div>
    </div>
</template>

<script>
    export default {
        name: "Support"
    }
</script>

<style lang="scss" scoped>
    .support {
        margin-bottom: 30px;
        background-color: rgba(255,255,255, 0.05);
        border-radius: 16px;
        position: relative;
        padding: 50px 10px 10px;
        span {
            display: block;
            font-weight: 600;
        }
    }
    .title {
        margin-bottom: 5px;
    }
    .opacity-text {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .btn {
        font-size: 14px;
        text-transform: uppercase;
        padding: 18px;
        background-color: #7141F2;
        font-weight: 700;
        border-radius: 16px;
    }
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid linear-gradient(0deg, rgba(113, 65, 242, 0.2), rgba(113, 65, 242, 0.2));
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
    @media screen and (max-width: 1440px) {
        .title {
            font-size: 16px;
        }
        .btn {
            padding: 16px;
        }
    }
    @media screen and (max-width: 1024px) {
        .support {
            padding: 40px 5px 5px;
            span {
                font-size: 10px;
                line-height: 14px;
            }
        }
        img {
            width: 50px;
            height: 50px;
            top: -25px;
        }
        .btn {
            font-size: 12px;
            line-height: 16px;
            padding: 7px;
            border-radius: 10px;
        }
    }
    @media screen and (max-width: 767px) {
        .support {
            padding: 40px 10px 10px;
        }
        .btn {
            padding: 12px;
        }
    }
</style>
