<template>
    <div class="user-info">
        <span class="title">Юрий</span>
        <span class="opacity-text">Javist@gmail.com</span>
    </div>
</template>

<script>
    export default {
        name: "UserInfo"
    }
</script>

<style lang="scss" scoped>
    span {
        display: block;
        text-align: center;
    }
    .user-info {
        margin-bottom: 22px;
        .title {
            font-weight: 600;
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        .opacity-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
        }
    }
    @media screen and (max-width: 1024px) {
        .user-info {
            .title {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 5px;
            }
            .opacity-text {
                font-size: 12px;
                line-height: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
</style>
