<template>
    <nav class="user-nav">
        <router-link to="profile">
            <div class="icon-box">
                <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.7143 18H12V16.2857C12 15.6037 11.7291 14.9497 11.2468 14.4674C10.7646 13.9852 10.1106 13.7143 9.42857 13.7143H4.28571C3.60373 13.7143 2.94968 13.9852 2.46744 14.4674C1.9852 14.9497 1.71429 15.6037 1.71429 16.2857V18H0V16.2857C0 15.1491 0.451529 14.059 1.25526 13.2553C2.05898 12.4515 3.14907 12 4.28571 12H9.42857C10.5652 12 11.6553 12.4515 12.459 13.2553C13.2628 14.059 13.7143 15.1491 13.7143 16.2857V18ZM6.85714 10.2857C6.18177 10.2857 5.51302 10.1527 4.88906 9.89424C4.2651 9.63578 3.69815 9.25696 3.22059 8.77941C2.74304 8.30185 2.36422 7.7349 2.10576 7.11094C1.84731 6.48698 1.71429 5.81823 1.71429 5.14286C1.71429 4.46749 1.84731 3.79873 2.10576 3.17477C2.36422 2.55081 2.74304 1.98387 3.22059 1.50631C3.69815 1.02875 4.2651 0.649929 4.88906 0.391477C5.51302 0.133024 6.18177 -1.00638e-08 6.85714 0C8.22111 2.03247e-08 9.52922 0.541835 10.4937 1.50631C11.4582 2.47078 12 3.77889 12 5.14286C12 6.50683 11.4582 7.81493 10.4937 8.77941C9.52922 9.74388 8.22111 10.2857 6.85714 10.2857V10.2857ZM6.85714 8.57143C7.76646 8.57143 8.63853 8.21021 9.28151 7.56722C9.92449 6.92424 10.2857 6.05217 10.2857 5.14286C10.2857 4.23354 9.92449 3.36147 9.28151 2.71849C8.63853 2.07551 7.76646 1.71429 6.85714 1.71429C5.94783 1.71429 5.07576 2.07551 4.43278 2.71849C3.78979 3.36147 3.42857 4.23354 3.42857 5.14286C3.42857 6.05217 3.78979 6.92424 4.43278 7.56722C5.07576 8.21021 5.94783 8.57143 6.85714 8.57143V8.57143Z"/>
                </svg>
            </div>
            <span>Профиль</span>
        </router-link>
        <router-link to="questionnaire">
            <div class="icon-box">
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.2 12.6L10.8 17.9964L0.901799 18C0.663737 18.0009 0.435032 17.9074 0.265937 17.7398C0.0968422 17.5722 0.00119078 17.3444 0 17.1063V0.8937C0 0.4005 0.4005 0 0.8937 0H15.3063C15.7995 0 16.2 0.4104 16.2 0.9018V12.6ZM14.4 1.8H1.8V16.2H9V11.7C9.00002 11.4796 9.08096 11.2668 9.22744 11.1021C9.37392 10.9373 9.57577 10.8321 9.7947 10.8063L9.9 10.8L14.4 10.7991V1.8ZM13.6539 12.5991L10.8 12.6V15.4521L13.6539 12.5991Z" fill="white"/>
                    <path d="M16.2 12.6L10.8 17.9964L0.901799 18C0.663737 18.0009 0.435032 17.9074 0.265937 17.7398C0.0968422 17.5722 0.00119078 17.3444 0 17.1063V0.8937C0 0.4005 0.4005 0 0.8937 0H15.3063C15.7995 0 16.2 0.4104 16.2 0.9018V12.6ZM14.4 1.8H1.8V16.2H9V11.7C9.00002 11.4796 9.08096 11.2668 9.22744 11.1021C9.37392 10.9373 9.57577 10.8321 9.7947 10.8063L9.9 10.8L14.4 10.7991V1.8ZM13.6539 12.5991L10.8 12.6V15.4521L13.6539 12.5991Z" fill="url(#paint0_linear_86_1339)"/>
                    <defs>
                        <linearGradient id="paint0_linear_86_1339" x1="4.09764" y1="2.64007e-07" x2="13.9616" y2="17.1499" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#714BF1"/>
                            <stop offset="1" stop-color="#576CEB"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <span>Aнкета</span>
        </router-link>
        <router-link to="notification">
            <div class="icon-box">
                <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.1395 6.69767C12.1395 5.36542 11.6103 4.08774 10.6683 3.1457C9.72621 2.20365 8.44853 1.67442 7.11628 1.67442C5.78403 1.67442 4.50634 2.20365 3.5643 3.1457C2.62226 4.08774 2.09302 5.36542 2.09302 6.69767V13.3953H12.1395V6.69767ZM13.814 13.9538L14.1488 14.4C14.1955 14.4622 14.2239 14.5361 14.2309 14.6136C14.2378 14.691 14.2231 14.7688 14.1884 14.8384C14.1536 14.9079 14.1002 14.9664 14.034 15.0072C13.9679 15.0481 13.8917 15.0698 13.814 15.0698H0.418605C0.340865 15.0698 0.264661 15.0481 0.198531 15.0072C0.132402 14.9664 0.0789597 14.9079 0.0441934 14.8384C0.00942708 14.7688 -0.00528982 14.691 0.00169165 14.6136C0.00867313 14.5361 0.0370771 14.4622 0.083721 14.4L0.418605 13.9538V6.69767C0.418605 4.92134 1.12425 3.21776 2.38031 1.9617C3.63637 0.705646 5.33994 0 7.11628 0C8.89261 0 10.5962 0.705646 11.8522 1.9617C13.1083 3.21776 13.814 4.92134 13.814 6.69767V13.9538ZM5.02326 15.907H9.2093C9.2093 16.4621 8.98879 16.9944 8.59627 17.387C8.20375 17.7795 7.67138 18 7.11628 18C6.56117 18 6.02881 17.7795 5.63629 17.387C5.24377 16.9944 5.02326 16.4621 5.02326 15.907Z" fill="white"/>
                    <path d="M12.1395 6.69767C12.1395 5.36542 11.6103 4.08774 10.6683 3.1457C9.72621 2.20365 8.44853 1.67442 7.11628 1.67442C5.78403 1.67442 4.50634 2.20365 3.5643 3.1457C2.62226 4.08774 2.09302 5.36542 2.09302 6.69767V13.3953H12.1395V6.69767ZM13.814 13.9538L14.1488 14.4C14.1955 14.4622 14.2239 14.5361 14.2309 14.6136C14.2378 14.691 14.2231 14.7688 14.1884 14.8384C14.1536 14.9079 14.1002 14.9664 14.034 15.0072C13.9679 15.0481 13.8917 15.0698 13.814 15.0698H0.418605C0.340865 15.0698 0.264661 15.0481 0.198531 15.0072C0.132402 14.9664 0.0789597 14.9079 0.0441934 14.8384C0.00942708 14.7688 -0.00528982 14.691 0.00169165 14.6136C0.00867313 14.5361 0.0370771 14.4622 0.083721 14.4L0.418605 13.9538V6.69767C0.418605 4.92134 1.12425 3.21776 2.38031 1.9617C3.63637 0.705646 5.33994 0 7.11628 0C8.89261 0 10.5962 0.705646 11.8522 1.9617C13.1083 3.21776 13.814 4.92134 13.814 6.69767V13.9538ZM5.02326 15.907H9.2093C9.2093 16.4621 8.98879 16.9944 8.59627 17.387C8.20375 17.7795 7.67138 18 7.11628 18C6.56117 18 6.02881 17.7795 5.63629 17.387C5.24377 16.9944 5.02326 16.4621 5.02326 15.907Z" fill="url(#paint0_linear_86_1329)"/>
                    <defs>
                        <linearGradient id="paint0_linear_86_1329" x1="3.6" y1="2.64007e-07" x2="14.059" y2="15.976" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#714BF1"/>
                            <stop offset="1" stop-color="#576CEB"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <span>Уведомление</span>
            <div class="notification">4</div>
        </router-link>
        <router-link to="responses">
            <div class="icon-box">
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.0728 16.2V10.8C1.0728 8.89044 1.83137 7.05909 3.18163 5.70883C4.53189 4.35857 6.36324 3.6 8.2728 3.6C10.1824 3.6 12.0137 4.35857 13.364 5.70883C14.7142 7.05909 15.4728 8.89044 15.4728 10.8V16.2H16.3728V18H0.1728V16.2H1.0728ZM2.8728 16.2H13.6728V10.8C13.6728 9.36783 13.1039 7.99432 12.0912 6.98162C11.0785 5.96893 9.70497 5.4 8.2728 5.4C6.84063 5.4 5.46712 5.96893 4.45442 6.98162C3.44173 7.99432 2.8728 9.36783 2.8728 10.8V16.2ZM7.3728 0H9.1728V2.7H7.3728V0ZM15.273 2.5272L16.5456 3.7998L14.6376 5.7087L13.3641 4.4361L15.273 2.5272ZM0 3.7998L1.2726 2.5272L3.1815 4.4352L1.9098 5.7096L0 3.7998ZM3.7728 10.8C3.7728 9.60653 4.24691 8.46193 5.09082 7.61802C5.93473 6.77411 7.07933 6.3 8.2728 6.3V8.1C7.55671 8.1 6.86996 8.38446 6.36361 8.89081C5.85726 9.39716 5.5728 10.0839 5.5728 10.8H3.7728Z" fill="white"/>
                    <path d="M1.0728 16.2V10.8C1.0728 8.89044 1.83137 7.05909 3.18163 5.70883C4.53189 4.35857 6.36324 3.6 8.2728 3.6C10.1824 3.6 12.0137 4.35857 13.364 5.70883C14.7142 7.05909 15.4728 8.89044 15.4728 10.8V16.2H16.3728V18H0.1728V16.2H1.0728ZM2.8728 16.2H13.6728V10.8C13.6728 9.36783 13.1039 7.99432 12.0912 6.98162C11.0785 5.96893 9.70497 5.4 8.2728 5.4C6.84063 5.4 5.46712 5.96893 4.45442 6.98162C3.44173 7.99432 2.8728 9.36783 2.8728 10.8V16.2ZM7.3728 0H9.1728V2.7H7.3728V0ZM15.273 2.5272L16.5456 3.7998L14.6376 5.7087L13.3641 4.4361L15.273 2.5272ZM0 3.7998L1.2726 2.5272L3.1815 4.4352L1.9098 5.7096L0 3.7998ZM3.7728 10.8C3.7728 9.60653 4.24691 8.46193 5.09082 7.61802C5.93473 6.77411 7.07933 6.3 8.2728 6.3V8.1C7.55671 8.1 6.86996 8.38446 6.36361 8.89081C5.85726 9.39716 5.5728 10.0839 5.5728 10.8H3.7728Z" fill="url(#paint0_linear_86_1324)"/>
                    <defs>
                        <linearGradient id="paint0_linear_86_1324" x1="4.18506" y1="2.64007e-07" x2="13.9433" y2="17.3279" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#714BF1"/>
                            <stop offset="1" stop-color="#576CEB"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <span>Оправлены отклики</span>
            <div class="notification">2</div>
        </router-link>
        <router-link to="analytics">
            <div class="icon-box">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.53488 0.036C7.81116 0.0117209 8.08995 0 8.37209 0C13.6892 0 18 4.31079 18 9.62791C18 9.91005 17.9883 10.1888 17.964 10.4651H16.7032C16.2829 14.6955 12.713 18 8.37209 18C3.74819 18 0 14.2518 0 9.62791C0 5.28698 3.30447 1.71712 7.53488 1.29767V0.0351628V0.036ZM7.53488 10.4651V2.98214C5.84599 3.19704 4.3023 4.04696 3.21755 5.35916C2.13281 6.67136 1.58842 8.34737 1.69503 10.0465C1.80164 11.7457 2.55125 13.3405 3.79151 14.5068C5.03176 15.6732 6.66958 16.3235 8.37209 16.3256C10.0035 16.3256 11.5788 15.7302 12.8024 14.6512C14.026 13.5722 14.8138 12.0837 15.0179 10.4651H7.53488ZM16.282 8.7907C16.0901 6.98057 15.2833 5.29099 13.9961 4.00386C12.709 2.71673 11.0194 1.90989 9.2093 1.71795V8.7907H16.282Z" fill="white"/>
                    <path d="M7.53488 0.036C7.81116 0.0117209 8.08995 0 8.37209 0C13.6892 0 18 4.31079 18 9.62791C18 9.91005 17.9883 10.1888 17.964 10.4651H16.7032C16.2829 14.6955 12.713 18 8.37209 18C3.74819 18 0 14.2518 0 9.62791C0 5.28698 3.30447 1.71712 7.53488 1.29767V0.0351628V0.036ZM7.53488 10.4651V2.98214C5.84599 3.19704 4.3023 4.04696 3.21755 5.35916C2.13281 6.67136 1.58842 8.34737 1.69503 10.0465C1.80164 11.7457 2.55125 13.3405 3.79151 14.5068C5.03176 15.6732 6.66958 16.3235 8.37209 16.3256C10.0035 16.3256 11.5788 15.7302 12.8024 14.6512C14.026 13.5722 14.8138 12.0837 15.0179 10.4651H7.53488ZM16.282 8.7907C16.0901 6.98057 15.2833 5.29099 13.9961 4.00386C12.709 2.71673 11.0194 1.90989 9.2093 1.71795V8.7907H16.282Z" fill="url(#paint0_linear_86_1314)"/>
                    <defs>
                        <linearGradient id="paint0_linear_86_1314" x1="4.55294" y1="2.64007e-07" x2="13.8706" y2="18" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#714BF1"/>
                            <stop offset="1" stop-color="#576CEB"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <span>Аналитика</span>
        </router-link>
        <router-link to="contacts">
            <div class="icon-box">
                <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.8 1.8V16.2H10.8V1.8H1.8ZM0.9 0H11.7C11.9387 0 12.1676 0.0948211 12.3364 0.263604C12.5052 0.432387 12.6 0.661305 12.6 0.9V17.1C12.6 17.3387 12.5052 17.5676 12.3364 17.7364C12.1676 17.9052 11.9387 18 11.7 18H0.9C0.661305 18 0.432387 17.9052 0.263604 17.7364C0.0948213 17.5676 0 17.3387 0 17.1V0.9C0 0.661305 0.0948213 0.432387 0.263604 0.263604C0.432387 0.0948211 0.661305 0 0.9 0ZM6.3 13.5C6.5387 13.5 6.76761 13.5948 6.9364 13.7636C7.10518 13.9324 7.2 14.1613 7.2 14.4C7.2 14.6387 7.10518 14.8676 6.9364 15.0364C6.76761 15.2052 6.5387 15.3 6.3 15.3C6.06131 15.3 5.83239 15.2052 5.6636 15.0364C5.49482 14.8676 5.4 14.6387 5.4 14.4C5.4 14.1613 5.49482 13.9324 5.6636 13.7636C5.83239 13.5948 6.06131 13.5 6.3 13.5Z" fill="white"/>
                    <path d="M1.8 1.8V16.2H10.8V1.8H1.8ZM0.9 0H11.7C11.9387 0 12.1676 0.0948211 12.3364 0.263604C12.5052 0.432387 12.6 0.661305 12.6 0.9V17.1C12.6 17.3387 12.5052 17.5676 12.3364 17.7364C12.1676 17.9052 11.9387 18 11.7 18H0.9C0.661305 18 0.432387 17.9052 0.263604 17.7364C0.0948213 17.5676 0 17.3387 0 17.1V0.9C0 0.661305 0.0948213 0.432387 0.263604 0.263604C0.432387 0.0948211 0.661305 0 0.9 0ZM6.3 13.5C6.5387 13.5 6.76761 13.5948 6.9364 13.7636C7.10518 13.9324 7.2 14.1613 7.2 14.4C7.2 14.6387 7.10518 14.8676 6.9364 15.0364C6.76761 15.2052 6.5387 15.3 6.3 15.3C6.06131 15.3 5.83239 15.2052 5.6636 15.0364C5.49482 14.8676 5.4 14.6387 5.4 14.4C5.4 14.1613 5.49482 13.9324 5.6636 13.7636C5.83239 13.5948 6.06131 13.5 6.3 13.5Z" fill="url(#paint0_linear_86_1304)"/>
                    <defs>
                        <linearGradient id="paint0_linear_86_1304" x1="3.18706" y1="2.64007e-07" x2="14.098" y2="14.7546" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#714BF1"/>
                            <stop offset="1" stop-color="#576CEB"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <span>Контакты</span>
            <div class="notification">5</div>
        </router-link>
    </nav>
</template>

<script>
    export default {
        name: "UserNav"
    }
</script>

<style lang="scss" scoped>
    .user-nav {
        position: relative;
        margin: 70px 0 110px;
        &:after {
            content: '';
            height: 2px;
            position: absolute;
            right: -30px;
            left: -30px;
            bottom: -30px;
            background-color: rgba(255,255,255, 0.05);
            z-index: -1;
        }
        &:before {
            content: '';
            height: 2px;
            position: absolute;
            top: -30px;
            right: -30px;
            left: -30px;
            background-color: rgba(255,255,255, 0.05);
            z-index: -1;
        }
        a {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 15px;
            line-height: 14px;
            margin-bottom: 10px;
        }
    }
    .notification {
        display: inline-block;
        width: max-content;
        min-width: 30px;
        min-height: 30px;
        border-radius: 10px;
        position: relative;
        margin-left: 10px;
        background-color: #fff;
        color: #006BFF;
        line-height: 30px;
        padding: 0 10px;
        &:before {
            content: '';
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 2px;
            background-color: #fff;
            z-index: -1;
            top: 50%;
            left: -3px;
            transform: translateY(-50%)rotate(45deg);
        }
    }
    .icon-box {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: #fff;
        margin-right: 15px;
        transition: all 0.35s ease;
        svg {
            max-width: 18px;
            max-height: 18px;
        }
        path {
            fill: #6E3BF2;
            transition: all 0.35s ease;
        }
    }
    .router-link-active {
        cursor: default;
        .icon-box {
            background-color: #6E3BF2;
            path {
                fill: #fff;
            }
        }
    }
    @media screen and (max-width: 1440px) {
        .user-nav {
            margin: 65px 0 100px;
            &:before {
                top: -35px;
                right: -10px;
                left: -10px;
            }
            &:after {
                right: -10px;
                left: -10px;
                bottom: -28px;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        .user-nav {
            margin: 80px 0 100px;
            &:before {
                top: -40px;
            }
            a {
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 25px;
                position: relative;
            }
            span {
                font-size: 13px;
            }
        }
        .icon-box {
            margin-right: 0;
            margin-bottom: 10px;
        }
        .notification {
            min-width: 25px;
            min-height: 25px;
            line-height: 21px;
            position: absolute;
            top: -9px;
            right: 18px;
            border: 2px solid #6F70FF;
            padding: 0 6px;
            font-size: 13px;
            &:before {
                content: none;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .user-nav {
            display: flex;
            flex-wrap: wrap;
            a {
                width: 33.33%;
                margin-bottom: 30px;
            }
        }
        .notification {
            right: 27px;
        }
    }
</style>
