<template>
    <div class="lk">
        <LeftPanel/>
        <MobilPanel/>
        <div class="lk_content">
            <transition name="fade">
                <router-view/>
            </transition>
        </div>
    </div>
</template>

<script>
    import LeftPanel from "../components/left_panel/LeftPanel";
    import MobilPanel from "../components/left_panel/MobilPanel";

    export default {
        name: "Lk",
        components: {MobilPanel, LeftPanel}
    }
</script>

<style lang="scss" scoped>
    .lk {
        position: relative;
        padding-left: 370px;
    }

    /*.lk_content::-webkit-scrollbar {*/
    /*    width: 3px;*/
    /*    height: 100%;*/
    /*}*/

    /*.lk_content::-webkit-scrollbar-track {*/
    /*    position: fixed;*/
    /*    left: 0;*/
    /*}*/

    /*.lk_content::-webkit-scrollbar-thumb {*/
    /*    background-color: #7141F2;*/
    /*    max-height: 20px;*/
    /*    border-radius: 10px;*/
    /*}*/

    /*.lk_content::-webkit-scrollbar-track-piece {*/
    /*    background: transparent;*/
    /*}*/
    @media screen and (max-width: 1440px) {
        .lk {
            padding-left: 340px;
        }
    }

    @media screen and (max-width: 1024px) {
        .lk {
            padding-left: 140px;
        }
    }

    @media screen and (max-width: 767px) {
        .lk {
            padding-left: 0;
            padding-top: 60px;
        }
    }
</style>
