<template>
    <div class="profile border-block">
        <TopPanel />
        <div class="hello-box">
            <img :src="'../img/icons/hello-icon.png'" alt="">
            <span>Привет</span>
        </div>
        <form>
            <span class="form-title">Личные данные</span>
            <div class="input-wrapper">
                <FormInput class="full-width-input" :placeholder="'Имя и Фамилия:'" />
                <FormInput :placeholder="'Tелефон:'" />
                <FormInput :placeholder="'Почта:'" />
                <FormInput :placeholder="'Компания:'" />
                <FormInput :placeholder="'Должность:'" />
            </div>
            <SubmitButton :disabled="disabled">Сохранить данные</SubmitButton>
        </form>
        <form>
            <span class="form-title">Изменение пароля</span>
            <div class="input-wrapper">
                <FormInput :placeholder="'Текущий пароль:'" />
            </div>
            <SubmitButton :disabled="disabled">Сохранить пароль</SubmitButton>
        </form>
    </div>
</template>

<script>
    import SubmitButton from "../components/UI/SubmitButton";
    import FormInput from "../components/UI/FormInput";
    import TopPanel from "../components/top_panel/TopPanel";
    export default {
        name: "Profile",
        components: {TopPanel, FormInput, SubmitButton},
        data() {
            return {
                disabled: true
            }
        },
    }
</script>
<style lang="scss" scoped>
    form {
        margin-bottom: 30px;
    }
    .full-width-input {
        width: 100%;
    }
    .profile {
        height: calc(100vh - 40px);
        background-image: url("/../../img/lk-content-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 60px 35px;
        text-align: left;
        overflow: scroll;
    }
    .profile::-webkit-scrollbar {
        width: 3px;
        height: 100%;
    }

    .profile::-webkit-scrollbar-track {
        position: fixed;
        left: 0;
    }

    .profile::-webkit-scrollbar-thumb {
        background-color: #7141F2;
        max-height: 20px;
        border-radius: 10px;
    }

    .profile::-webkit-scrollbar-track-piece {
        background: transparent;
    }
    .hello-box {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        img {
            width: 48px;
            height: 48px;
            margin-right: 20px;
        }
        span {
            font-weight: 600;
            font-size: 50px;
            line-height: 50px;
            .name {
                color: #006BFF;
            }
        }
    }
    .form-title {
        display: block;
        font-weight: 600;
    }
    .input-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    @media screen and (max-width: 1440px) {
        .profile {
            height: calc(100vh - 40px);
            padding: 20px 43px 35px;
        }
        .hello-box {
            margin-bottom: 30px;
            img {
                width: 36px;
                height: 36px;
                margin-right: 15px;
            }
            span {
                font-size: 40px;
                line-height: 50px;
            }
        }
        .input-wrapper {
            margin-bottom: 7px;
        }
    }
    @media screen and (max-width: 1024px) {
        .profile {
            padding: 10px 30px 15px;
        }
        .hello-box {
            margin-bottom: 36px;
            img {
                margin-right: 17px;
            }
            span {
                font-size: 39px;
                line-height: 40px;
            }
        }
        .input-wrapper {
            margin-bottom: 5px;
        }
    }
    @media screen and (max-width: 767px) {
        .profile {
            height: calc(100vh - 80px);
            padding: 30px 15px;
            border-radius: 24px;
        }
        .hello-box {
            margin-bottom: 18px;
            img {
                width: 25px;
                height: 25px;
                margin-right: 15px;
            }
            span {
                font-size: 30px;
                line-height: 24px;
            }
        }
        form {
            margin-bottom: 16px;
        }
        .input-wrapper {
            margin-bottom: 8px;
        }
    }
</style>
