<template>
    <div class="questionnaire" :class="{scroll: scroll}">
        <div class="questionnaire-top border-block">
            <TopPanel/>
            <TitleBlock/>
        </div>
        <SalaryBlock/>
        <div class="questions">
            <div class="questions_item">
                <CheckBoxBlock/>
                <CheckBoxBlock/>
                <CheckBoxBlock/>
                <CheckBoxBlock/>
                <CheckBoxBlock/>
                <CheckBoxBlock/>
            </div>
            <div class="questions_item">
                <CheckBoxBlock/>
                <CheckBoxBlock/>
                <CheckBoxBlock/>
                <CheckBoxBlock/>
                <CheckBoxBlock/>
                <CheckBoxBlock/>
            </div>
        </div>
    </div>
</template>

<script>
    import TopPanel from "../components/top_panel/TopPanel";
    import SalaryBlock from "../components/lk_questionnaire/SalaryBlock";
    import TitleBlock from "../components/lk_questionnaire/TitleBlock";
    import CheckBoxBlock from "../components/lk_questionnaire/CheckBoxBlock";
    import TextAreaBlock from "../components/lk_questionnaire/TextAreaBlock";

    export default {
        name: "Questionnaire",
        components: {TextAreaBlock, CheckBoxBlock, TitleBlock, SalaryBlock, TopPanel},
        data() {
            return {
                scroll: false
            }
        },
        methods: {
            handleScroll() {
                this.scroll = window.scrollY > 150 ? true : false
            }
        },
        created() {
            window.addEventListener('scroll', this.handleScroll)
        }
    }
</script>

<style lang="scss" scoped>
    .questionnaire {
        text-align: left;
    }
    @keyframes fade-down {
        0% {
            transform: translateY(-75px);
        }
        50% {
            transform: translateY(-35px);
        }
        100% {
            transform: translateY(0);
        }
    }
    .questionnaire-top {
        min-height: max-content;
        border-radius: 40px;
        background-image: url("/../../img/lk-content-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 60px 35px;
        text-align: left;
        margin-bottom: 10px;
        transition: all 1s ease;
    }
    .questions {
        display: flex;
        justify-content: space-between;
        &_item {
            width: calc(50% - 5px);
        }
    }
</style>
<style lang="scss">
    .app-content.darkTheme {
        .questionnaire.scroll {
            &:before {
                background-color: #201E38;
            }
        }
    }
    .questionnaire.scroll {
        padding-top: 320px;
        position: relative;
        &:before {
            content: '';
            position: fixed;
            width: 103%;
            height: 55px;
            top: 0;
            right: -1px;
            left: -1px;
            background-color: #E0E8FF;
            z-index: 5;
            transition: all 1s ease;
        }
        .questionnaire-top {
            position: fixed;
            top: 20px;
            right: 20px;
            left: 390px;
            z-index: 50;
            animation: fade-down 0.15s linear;
            box-shadow: 0 9px 20px 0 rgba(0,0,0, 0.1);
        }
        .top-panel {
            margin-bottom: 10px;
        }
        .page-title {
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
</style>
