<template>
    <div class="border-block check-box-block" :class="{active: switcher}">
        <div class="check-box-title">
            <span>Формат работы</span>
            <Switcher v-model="switcher"/>
        </div>
        <transition duration="550" name="nested">
            <div class="check-box-wrapper" v-if="switcher">
                <label>
                    <input name="some" type="radio">
                    <span>Удаленно</span>
                </label>
                <label>
                    <input name="some" type="radio">
                    <span>В офисе</span>
                </label>
                <label>
                    <input name="some" type="radio">
                    <span>Гибридный (иногда нужно приезжать в офис)</span>
                </label>
            </div>
        </transition>
    </div>
</template>

<script>
    import Switcher from "../UI/Switcher";

    export default {
        name: "CheckBoxBlock",
        components: {Switcher},
        data() {
            return {
                switcher: false
            }
        }
    }
</script>

<style lang="scss" scoped>
    .check-box-block {
        padding-right: 30px;
    }
    .check-box-block.active {
        transition: all 0.3s ease-in-out;
        .check-box-title {
            color: #7141F2;
        }
    }
    .check-box-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        transition: all 0.3s ease;
    }
    .nested-enter-active {
        transition: all 0.1s ease-in-out;
    }
    .nested-leave-active {
        transition-delay: 0.1s;
    }
    .nested-leave-active {
        transition: all 0.2s ease-in-out;
        transition-delay: 0s;
        opacity: 0;
    }
    .nested-enter-from,
    .nested-leave-to {
        transform: translateY(30px);
        opacity: 0;
        position: absolute;
    }
    .nested-enter-active .check-box-wrapper {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.2s;
    }

    .nested-enter-from .check-box-wrapper,
    .nested-leave-to .check-box-wrapper {
        transform: translateX(30px);
        opacity: 0.001;
    }
    .check-box-wrapper {
        margin-top: 15px;
        label {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            cursor: pointer;
        }
        span {
            color: #9D9AB6;
            font-weight: 500;
            margin-left: 15px;
            transition: 0.7s;
        }
        input[type="radio"] {
            position: relative;
            width: 10px;
            height: 10px;
            -webkit-appearance: none;
            background: transparent;
            outline: none;
            border-radius: 3px;
            transition: 0.7s;
            padding: 5px;
            cursor: pointer;
            overflow: hidden;
        }
        input[type="radio"]:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #EDEBFC;
            transition: .5s;
        }

        input:checked[type="radio"]:before {
            background-color: #7141F2;
        }
        input:checked[type="radio"] ~ span {
            color: #7141F2;
        }
    }
</style>
