<template>
    <div class="border-block salary-block">
        <p>Предлагаемый уровень заработной платы</p>
        <div class="range-wrapper">
            <Range class="salary-range" v-bind="salaryRange" v-model="salaryRange.value"/>
            <div class="range-hint-wrapper">
                <div class="range-hint">{{salaryRange.min}} ₽</div>
                <div class="range-hint" :class="{active: salaryRange.value > salaryRange.max / 2}">{{salaryRange.max / 2}}</div>
                <div class="range-hint">{{salaryRange.max}} ₽</div>
            </div>
        </div>
    </div>
</template>

<script>
    import Range from '@vueform/slider'

    export default {
        name: "SalaryBlock",
        components: {
            Range,
        },
        data() {
            return {
                salaryRange: {
                    value: 870000,
                    min: 150000,
                    max: 2000000,
                    step: 10000,
                    format: {
                        suffix: ' ₽',
                        thousand: ' ',
                        decimals: 0
                    }
                }
            }
        }
    }
</script>
<style src="@vueform/slider/themes/default.css"></style>
<style lang="scss">
    .salary-block {

    }
    .range-wrapper {
        margin-top: 90px;
    }

    .salary-range {
        --slider-height: 2px;
        --slider-connect-bg: linear-gradient(152.63deg, #714BF1 8.63%, #576CEB 92.18%);
        --slider-bg: #EDEBFC;
        --slider-tooltip-bg: transparent;
        --slider-handle-ring-color: linear-gradient(152.63deg, #714BF1 8.63%, #576CEB 92.18%);
        --slider-tooltip-color: rgba(113, 75, 241, 1);
        --slider-handle-bg: linear-gradient(152.63deg, #714BF1 8.63%, #576CEB 92.18%);
        --slider-handle-shadow: none;
        --slider-handle-width: 30px;
        --slider-handle-height: 30px;
        --slider-handle-radius: 6px;
        --slider-tooltip-font-size: 24px;
        --slider-tooltip-font-weight: 600;
        --slider-tooltip-distance: 15px;

    }
    .range-hint-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .range-hint {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        position: relative;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 3px;
            background-color: #EDEBFC;
            position: absolute;
            top: -16px;
        }
        &:first-child {
            &:before {
                left: 0;
                background-color: rgba(113, 75, 241, 1);
            }
        }
        &:nth-child(2) {
            &:before {
                right: 50%;
                transform: translateX(50%);
            }
        }
        &:last-child {
            &:before {
                right: 0;
            }
        }
    }
    .range-hint.active {
        &:before {
            background-color: rgba(113, 75, 241, 1);
        }
    }
</style>
