<template>
    <div class="border-block text-area-block" :class="{active: switcher}">
        <div class="text-area-title">
            <span>Описание продукта/проекта</span>
            <Switcher v-model="switcher"/>
        </div>
        <transition duration="550" name="nested">
            <textarea v-if="switcher"></textarea>
        </transition>
    </div>
</template>

<script>
    import Switcher from "../UI/Switcher";

    export default {
        name: "TextAreaBlock",
        components: {Switcher},
        data() {
            return {
                switcher: false
            }
        }
    }
</script>

<style lang="scss" scoped>
    .text-area-block {
        padding-right: 30px;
    }
    .text-area-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        transition: all 0.3s ease;
    }
    .text-area-block.active {
        transition: all 0.3s ease-in-out;
        .text-area-title {
            color: #7141F2;
        }
    }
    textarea {
        display: block;
        width: 100%;
        height: 200px;
        resize: none;
        border: none;
        outline: none;
        border-radius: 16px;
        background-color: #E0E8FF;
        padding: 25px;
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
    }

    textarea::-webkit-scrollbar {
        width: 3px;
        height: 100%;
    }

    textarea::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        position: fixed;
        left: 0;
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: #7141F2;
        max-height: 20px;
        border-radius: 10px;
    }

    textarea::-webkit-scrollbar-track-piece {
        background: transparent;
    }
    .nested-enter-active {
        transition: all 0.1s ease-in-out;
    }
    .nested-leave-active {
        transition-delay: 0.1s;
    }
    .nested-leave-active {
        transition: all 0.2s ease-in-out;
        transition-delay: 0s;
        opacity: 0;
    }
    .nested-enter-from,
    .nested-leave-to {
        transform: translateY(30px);
        opacity: 0;
        position: absolute;
    }
    .nested-enter-active textarea {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.2s;
    }

    .nested-enter-from textarea,
    .nested-leave-to textarea {
        transform: translateX(30px);
        opacity: 0.001;
    }
</style>
