<template>
    <div class="questionnaire-title">
        <div class="questionnaire-title_item">
            <span class="page-title">Aнкета</span>
            <p>Выберите важные для вас вопросы, на которые должен ответить рекрутер</p>
        </div>
        <div class="questionnaire-title_item">
            <SubmitButton>Сохранить вопросы</SubmitButton>
            <Popper content="Ссылка скопирована" @click="copyLink">
                <div class="link copy-link">
                    <input type="hidden" id="copy-link" :value="link">
                    <img :src="'../img/icons/copy-icon.svg'" alt="">
                </div>
            </Popper>
        </div>
    </div>
</template>

<script>
    import Popper from "vue3-popper";
    import SubmitButton from "../UI/SubmitButton";

    export default {
        name: "TitleBlock",
        components: {SubmitButton, Popper},
        data() {
            return {
                link: 'test link'
            }
        },
        methods: {
            copyLink() {
                let copyLink = document.querySelector('#copy-link')
                copyLink.setAttribute('type', 'text')
                copyLink.select()

                try {
                    document.execCommand('copy');
                } catch (err) {
                    alert('Oops, unable to copy');
                }

                copyLink.setAttribute('type', 'hidden')
                window.getSelection().removeAllRanges()
            }
        }
    }
</script>

<style lang="scss" scoped>
    .questionnaire-title {
        display: flex;
        justify-content: space-between;

        &_item {
            max-width: 60%;
        }

        p {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
        }
    }

    .link {
        min-height: 65px;
        display: inline-block;
        border-radius: 16px;
        padding: 10px 20px;
        margin-left: 12px;
        text-align: center;
    }

    .copy-link {
        width: 65px;
        height: 65px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        background: linear-gradient(95.82deg, #7141F2 21.29%, #4269FF 86.21%);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: linear-gradient(95.82deg, #7141F2 100%, #7141F2 100%);
        }

        img {
            max-width: 18px;
            height: 100%;
        }
    }


    .page-title {
        display: block;
        font-weight: 600;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 20px;
    }
</style>
